.Login {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.LoginPage,
.NewUser {
  width: 100%;
  height: 100vh;
  color: #fff;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  /* background-size: 400% 400%; */
  animation: change 1.1s ease-in-out infinite;
  animation-duration: 1.1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  /* position: relative; */
}

#Login_Button {
  mix-blend-mode: soft-light;
}
#Login_Name {
  mix-blend-mode: luminosity;
}

@keyframes change {
  /* LoginPage :hover{ */
  0% {
    /* transform: rotate(15deg); */
    /* background-position: 0 50; */
    background: linear-gradient(
      -45deg,
      #ee7752,
      #ee7752,
      /* #ee7752, */ /* #ee7752, */ #e73c7e,
      #23a6d5,
      #23d5ab
    );
  }
  33% {
    /* transform: rotate(-300deg); */
    /* background-position: 100% 50;  */
    background: linear-gradient(
      -45deg,
      #ee7752,
      #e73c7e,
      #e73c7e,
      /* #e73c7e, */ /* #e73c7e, */ #23a6d5,
      #23d5ab
    );
  }
  66% {
    /* transform: rotate(5deg); */
    /* background-position: 0 50; */
    background: linear-gradient(
      -45deg,
      #ee7752,
      #e73c7e,
      #23a6d5,
      #23a6d5,
      /* #23a6d5, */ /* #23a6d5, */ #23d5ab
    );
  }
  100% {
    /* transform: rotate(0deg); */
    /* background-position: 0 50; */
    background: linear-gradient(
      -45deg,
      #ee7752,
      #e73c7e,
      #23a6d5,
      #23d5ab,
      #23d5ab /* #23d5ab, */ /* #23d5ab */
    );
  }
}

#Login_Life {
  /* color: rgb(218, 32, 32); */
  color: gold;
  /* 
  mix-blend-mode: difference; */
  /* text-shadow: greenyellow; */
  /* mix-blend-mode: soft-light; */
  /* mix-blend-mode: darken; */
  mix-blend-mode: color-burn;
  /* font-size: 150%; */
}

/* .Login { */
/* font-size:; */
/* } */

#Login_MoveForm {
  /* margin-top:auto; */
  /* margin-bottom: auto; */
  /* margin-left: auto; */
  /* margin-right: auto; */
  position: relative;
  top: 130px;
}

#Login_Link {
  color: #2a3f03;
}

/* #Life {
  font-size: 80px;
  /* color: #fff; */
/* text-align: center; */
/* -webkit-animation: glow 1s ease-in-out infinite alternate; */
/* -moz-animation: glow 1s ease-in-out infinite alternate; */
/* animation: glow 1s ease-in-out infinite alternate; */
/* }  */

/* @-webkit-keyframes Life { */
/* from { */
/* text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, */
/* 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073; */
/* } */
/* to { */
/* text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, */
/* 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6; */
/* } */
/* } */
