/* QUIZ MENU  */
.QuizMenu_ArrowUpCircle,
.QuizMenu_Brick {
  font-size: 15vh;
}

.QuizMenu_ArrowUpCircle {
  transition: transform 0.7s ease-in-out;
}
.QuizMenu_ArrowUpCircle:hover {
  transform: rotate(360deg);
}

.QuizMenu_Text {
  font-size: 10vh;
}
.QuizMenu_Line {
  display: flex;
  justify-content: space-evenly;

  margin: 0px;
  /* margin-bottom: 5vh; */
  padding: 0px;
}
.QuizMenu_FlexColumn {
  display: flex;
  flex-direction: column;
}

/* QUIZ */
.Quiz_QuestionContainer,
.Quiz_ResultsContainer {
  display: flex;
  justify-content: center;
}
.Quiz_AnswerContainer {
  width: 100vw;
  height: 10vh;
  margin-bottom: 1vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.Quiz_Button {
  background-color: lightblue;
  border-radius: 15px;
  border: 5px solid lightblue;
  width: 36vw;
  height: 20vh;
  margin-bottom: 5vh;
}
.Quiz_Button:hover {
  background-color: turquoise;
}
.Quiz_Button:focus {
  outline: none;
}
