.Carousel_Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 92.5vh;
}
.Carousel_WidthHeight {
  width: 70vw;
  height: 70vh;
}
.Carousel_Text {
  color: #007bff;
  font-weight: bold;
}
