.Nav_Bar {
  outline: 1px grey solid;
  /* font-size: 3vh; */
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 0vh;
  left: 0vw;
  width: 100vw;
  z-index: +5;
}
.Nav_Bar_LeftSide {
  display: flex;
}
.Nav_Bar_RightSide {
  display: flex;
}
.Nav_SpaceVertical {
  height: 5vh;
}
