.sidebar {
  height: 100vh;
  width: 250px;
  outline: grey 1px solid;
  position: fixed;
  z-index: 200;
  right: 0;
  background-color: #f8f9fa;
}
.sidebar.open {
  animation: 0.1s linear 0s slide-left;
}
@keyframes slide-left {
  0% {
    margin-right: -20%;
    visibility: visible;
  }
  100% {
    margin-right: 0%;
    visibility: visible;
  }
}

.sidebar1 {
  height: 100vh;
  width: 250px;
  outline: grey 1px solid;
  position: fixed;
  z-index: 200;
  right: 0;
  background-color: #f8f9fa;
  visibility: hidden;
}
.sidebar1.close {
  animation: 0.1s linear 0s slide-right;
}
@keyframes slide-right {
  0% {
    margin-right: 0%;
    visibility: visible;
  }
  100% {
    margin-right: -20%;
    visibility: visible;
  }
}

/* @keyframes duration | easing-function | delay |
iteration-count | direction | fill-mode | play-state | name */
/* animation: 3s ease-in 1s 2 reverse both paused slidein; */

/* @keyframes name | duration | easing-function | delay */
/* animation: slidein 3s linear 1s; */

/* @keyframes name | duration */
/* animation: slidein 3s; */

/* @keyframes slide-sidebar */
/* choose animation time */
/* Keyframe absolute position 0 */
/* Keyframe absolute position 100% */

/* animation delay */
/* Keyframe opacity 0% */
/* Keyframe opacity 100% */ ;
