/* .MessageList_FlexBox {
  display: flex;
  justify-content: space-between;
}

.Message_Button {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

.TopMessages_MessageContainer {
  border-bottom: solid 1px grey;
}

.Message_Bold,
.TopMessages_Bold {
  font-weight: bold;
}

.TopMessages_Bold,
.TopMessage_Center {
  display: flex;
  justify-content: center;
} */
