.Nav_Bar {
  outline: 1px grey solid;
  font-size: 3vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: absolute;
  top: 0vh;
  left: 0vw;
  width: 100vw;
  height: 5vh;
  z-index: +5;
  color: grey;
}
.Nav_Bar_LeftSide {
  display: flex;
}
.Nav_Bar_RightSide {
  display: flex;
}

.Nav_Bar a {
  text-decoration: none;
}
.Nav_Space1 {
  width: 2vw;
}
.Nav_Space2 {
  width: 1vw;
}
.Nav_SpaceVertical {
  height: 5vh;
}

/* Nav_More Dropdown */
.Nav_More {
  position: relative;
  display: inline-block;
}
.Nav_More_Dropdown {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 20vw;
  z-index: 1;
}
.Nav_More_Dropdown a {
  color: black;
  padding: 1vh 3vw;
  text-decoration: none;
  display: block;
}
.Nav_More_Dropdown a:hover {
  background-color: #ddd;
}
.Nav_More:hover .Nav_More_Dropdown {
  display: block;
}

/* Nav_Course Dropdown */
.Nav_Course {
  position: relative;
  display: inline-block;
}
.Nav_Course_Dropdown {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 20vw;
  z-index: 1;
}
.Nav_Course_Dropdown a {
  color: black;
  padding: 1vh 3vw;
  text-decoration: none;
  display: block;
}
.Nav_Course_Dropdown a:hover {
  background-color: #ddd;
}
.Nav_Course:hover .Nav_Course_Dropdown {
  display: block;
}

/* Nav_Crowns Dropdown */
.Nav_Crowns {
  position: relative;
  display: inline-block;
}
.Nav_Crowns_Dropdown {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 20vw;
  z-index: 1;
}
.Nav_Crowns_Dropdown a {
  color: black;
  padding: 1vh 3vw;
  text-decoration: none;
  display: block;
}
.Nav_Crowns_Dropdown a:hover {
  background-color: #ddd;
}
.Nav_Crowns:hover .Nav_Crowns_Dropdown {
  display: block;
}

/* Streak Dropdown */
.Nav_Streak {
  position: relative;
  display: inline-block;
}
.Nav_Streak_Dropdown {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 20vw;
  z-index: 1;
}
.Nav_Streak_Dropdown a {
  color: black;
  padding: 1vh 3vw;
  text-decoration: none;
  display: block;
}
.Nav_Streak_Dropdown a:hover {
  background-color: #ddd;
}
.Nav_Streak:hover .Nav_Streak_Dropdown {
  display: block;
}

/* Gems Dropdown */
.Nav_Gems {
  position: relative;
  display: inline-block;
}
.Nav_Gems_Dropdown {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 20vw;
  z-index: 1;
}
.Nav_Gems_Dropdown a {
  color: black;
  padding: 1vh 3vw;
  text-decoration: none;
  display: block;
}
.Nav_Gems_Dropdown a:hover {
  background-color: #ddd;
}
.Nav_Gems:hover .Nav_Gems_Dropdown {
  display: block;
}

/* User Dropdown */
.Nav_User {
  position: relative;
  display: inline-block;
}
.Nav_User_Dropdown {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 20vw;
  z-index: 1;
}
.Nav_User_Dropdown a {
  color: black;
  padding: 1vh 3vw;
  text-decoration: none;
  display: block;
}
.Nav_User_Dropdown a:hover {
  background-color: #ddd;
}
.Nav_User:hover .Nav_User_Dropdown {
  display: block;
}
