.App_ColumnContainer {
  display: flex;
  justify-content: center;
}

.App_ColumnLeft {
  width: 80vw;
  display: flex;
  flex-direction: column;
  outline: grey 1px solid;
}

.App_ColumnRight {
  width: 20vw;
  display: flex;
  flex-direction: column;
  outline: grey 1px solid;
}

/* HOME */
.Home_ImageContainer {
  display: flex;
  justify-content: center;
}
.Home_Image {
  display: flex;
  justify-content: center;
  width: 45vw;
  height: 35vh;
}

.Home_ImageButtons {
  display: flex;
  justify-content: center;
}

/* LEARN  */
.Learn_ArrowUpCircle,
.Learn_Bricks {
  font-size: 15vh;
}

.Learn_Level1_Row1,
.Learn_Level1_Row2,
.Learn_Level1_Row3,
.Learn_Level1_Row4,
.Learn_Level1_Row5,
.Learn_Level1_Row6,
.Learn_Level1_Row7,
.Learn_Level1_Row8,
.Learn_Level1_Bricks,
.Learn_Level2_Row1,
.Learn_Level2_Row2,
.Learn_Level2_Row3,
.Learn_Level2_Row4,
.Learn_Level2_Row5,
.Learn_Level2_Row6,
.Learn_Level2_Row7,
.Learn_Level2_Row8,
.Learn_Level2_Row9,
.Learn_Level2_Row10,
.Learn_Level2_Row11,
.Learn_Level2_Row12,
.Learn_Level2_Row13,
.Learn_Level2_Row14,
.Learn_Level2_Row15,
.Learn_Level2_Bricks {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 5vh;
}

/* CHAT */
.Chat_Firstline_A {
  display: flex;
  justify-content: flex-end;
}

.Chat_FirstLine_B {
  display: flex;
  justify-content: space-between;
}

.Chat_SpaceVertical {
  height: 1.1vh;
}
/* SHOP */
