.PlayContainer {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  /* Put webcam in the center of the screen */
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
  position: absolute;
}

.Play {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.Play_VideoContainer {
  margin-top: 10px;
  width: 500px;
  height: 500px;
  border: 1px solid #000;
}

.Play_Input {
  margin-top: 10px;
}

.display-flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.position-absolute {
  position: absolute;
}
