.Play_VideoAndCanvas {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Play_Canvas {
  position: absolute;
}

.Play_ButtonContainer {
  display: flex;
  width: 100vw;
  justify-content: center;
}
