/* HOME */
.Photo_ImageContainer {
  display: flex;
  justify-content: center;
}
.Photo_Image {
  display: flex;
  justify-content: center;
  width: 45vw;
  height: 35vh;
}

.Photo_ImageButtons {
  display: flex;
  justify-content: center;
}
